html {
	transform: body scale(0.5);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 40px
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

div {
	display: block
}

body {
	
	-webkit-touch-callout: none;
	background-color: #fff
}

ul{
	list-style: none;
	float: left;
}

#main {
	width: 100%;
	height: 100%;
	margin: auto auto
}

#header {
	height: 285px;
	width: 100%;
	background: #fff url(http://s1.agilanews.today/www/header.png) no-repeat center 0;
	background-size: cover;
}

.magnifer {
	background: transparent url(http://s1.agilanews.today/www/magnifer.png) no-repeat center 0;
	position: absolute;
	z-index: 999;
	float: right;
	width: 128px;
	height: 130px;
	background-size: 128px 130px;
	float: left;
	margin: -70px 0 0 500px
}

#slogan {
	height: 365px;
	background-color: #ff8700;
	background-size: cover;
	margin: 0 0 35px 0
}

.title {
	font-family: "Arial Black", Helvetica, monospace, sans-serif, arial;
	font-size: 39px;
	text-align: center;
	line-height: 30px;
	padding: 69px 50px 18px 50px
}

.subtitle {
	font-family: "Arial Regular", Helvetica, monospace, sans-serif, arial;
	font-weight: 100;
	margin: 0 58px 0 58px;
	font-size: 18px;
	line-height: 43px;
	text-align: left;
	width: 604px;
	text-align: justify;
	text-justify: inter-ideograph
}

#title_main {
	width: 720px;
	height: 230px;
	margin: 0 auto
}

.content1,
.content2,
.content3,
.subtitle,
.title {
	color: #fff;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
}

.goolePlay {
	display: block;
	margin-left: 137px;
	margin-right: 45px;
}
.iOS{
	display: block;
	margin-left: 45px;
}
#googleplay {
	background: #000 url(http://s1.agilanews.today/www/google-play.png) no-repeat center center;
	height: 58px;
	width: 177px;
	border-radius: 10px;
	cursor: pointer;
	margin: auto;
}
#ios{
	background: #000 url(http://s1.agilanews.today/www/appstore.png) no-repeat center center;
	height: 60px;
	width: 178px;
	border-radius: 10px;
	cursor: pointer;
	margin: 0 auto;
}
.shadow {
	height: 20px;
	margin: 5px auto;
	opacity: .27;
	background: radial-gradient(ellipse farthest-corner,black 12%, #ff8700 65%);
	background: -webkit-radial-gradient(ellipse farthest-corner,black 12%, #ff8700 65%);
	background: -o-radial-gradient(ellipse farthest-corner,black 12%, #ff8700 65%);
	background: -moz-radial-gradient(ellipse farthest-corner,black 12%, #ff8700 65%);
}

#main_content {
	width: 720px;
	height: 100%;
	margin: 0 auto;
	overflow: auto
}

.getnow {
	text-align: center;
	font-size: 25px;
	font-weight: 400
}

.content1 {
	height: 441px;
}

.content2 {
	height: 444px
}

.content3 {
	height: 448px
}

.content1_left,
.content2_right,
.content3_left {
	width: 430px;
	display: inline;
	position: absolute
}

.content1_left {
	margin: 134px 0 0 0
}

.content2_right {
	margin: 178px 0 0 0
}

.content3_left {
	width: 380px;
	margin: 169px 0 0 0
}

.content1_left,
.content2_left,
.content3_left {
	float: left
}

.content1_right,
.content2_right,
.content3_right {
	float: right
}

.content1_title,
.content2_title,
.content3_title {
	font-family: "Arial Black";
	font-size: 20px;
	color: #ff8700;
	line-height: 25px
}

.content1_content,
.content2_content,
.content3_content,
#footer {
	font-family: "Arial Regular", Helvetica, monospace, sans-serif, arial;
	margin-top: 8px;
	font-size: 16px;
	color: #575757;
	line-height: 30px;
	text-align: justify;
	text-justify: inter-ideograph
}

.content1_right,
.content2_left,
.content3_right {
	width: 226px;
	height: 440px;
	display: inline;
	background-size: 226px 441px
}

.icon1,
.icon2,
.icon3 {
	width: 65px;
	height: 66px;
	position: absolute
}

.icon1 {
	background: transparent url(http://s1.agilanews.today/www/circle.png) no-repeat center;
	margin: 87px 0 0 35px
}

.icon2 {
	background: transparent url(http://s1.agilanews.today/www/iconnews.png) no-repeat center;
	margin: 136px 0 0 332px
}

.icon3 {
	background: transparent url(http://s1.agilanews.today/www/iconpeople.png) no-repeat center;
	margin: 124px 0 0 25px
}

.content1_right {
	background: transparent url(http://s1.agilanews.today/www/phone1.png) no-repeat center;
	background-size: 226px 441px;
	width: 226px;
	height: 441px;
	margin: 0 0 0 68px
}

.content2_left {
	background: transparent url(http://s1.agilanews.today/www/phone2.png) no-repeat center;
	background-size: 285px 444px;
	width: 285px;
	margin-top: -10px
}

.content3_right {
	background: transparent url(http://s1.agilanews.today/www/phone3.png) no-repeat center;
	background-size: 276px 448px;
	width: 276px;
	height: 448px;
	margin: -25px 0 0 90px
}

.capitalize {
	font-size: 54px;
	display: inline-block
}

#footer {
	margin: 35px 0 25px 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #efefef;
	color: #b5b5b5;
	text-align: center;
	font-size: 12px
}